<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
#set ($ctx = $request.contextPath)
<head>
	<title>Admin login</title>
</head>

<body>
	
	$!errorMsg
	
	<form id="loginForm" name="loginForm" method="POST" action="$ctx/login">
		Username: <input type="text" name="username" /><br />
		Password: <input type="password" name="password" /><br />
		Captcha: <input type="text" name="captcha" /><img src="$ctx/images/captcha.jpg" /><br />
		<input type="checkbox" name="rememberMe" value="true" checked />Remember Me?<br />
		
		<input type="submit" value="Submit" />
		<input type="reset" value="Reset" />
	</form>

	<script type="text/javascript">
        $().ready(function() {
            $("#name").focus();
			
            $("#loginForm").validate({
                rules: {
                    username: {
					required: true,
                        minlength: 4
                    },
                    password: {
					required: true,
                        minlength: 6
                    }
                },
                messages: {
                    username: {
                        minlength: "My name is bigger"
                    },
                    password: {
                        minlength: "My password is more that 6 chars"
                    }
                }   
            });
        });
    </script>

</body>
</html>