<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"  
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  
		 http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
		 version="2.5">
	
  	<display-name>A simple SSM Web Application</display-name>
	
	<!-- Spring context configuration -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:spring/**/*.xml</param-value>
	</context-param>
	
	<!-- Spring context loader listener -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- default servlet process static resource -->
	<servlet-mapping>
	    <servlet-name>default</servlet-name>
	    <url-pattern>*.js</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>default</servlet-name>
	    <url-pattern>*.css</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>default</servlet-name>
	    <url-pattern>*.jpg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>default</servlet-name>
	    <url-pattern>*.png</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>default</servlet-name>
	    <url-pattern>*.gif</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>default</servlet-name>
	    <url-pattern>/plugins/*</url-pattern>
	</servlet-mapping>
	
	<!-- captcha servlet-->
	<servlet>
		<servlet-name>captcha</servlet-name>
		<servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class> 
	</servlet>
	<servlet-mapping>
		<servlet-name>captcha</servlet-name>
		<url-pattern>/images/captcha.jpg</url-pattern>
	</servlet-mapping>
	
	<!-- sitemesh-velocity servlet -->
<!-- 	<servlet> -->
<!-- 	    <servlet-name>sitemesh-velocity</servlet-name> -->
<!-- 	    <servlet-class>com.opensymphony.module.sitemesh.velocity.VelocityDecoratorServlet</servlet-class> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 	    <servlet-name>sitemesh-velocity</servlet-name> -->
<!-- 	    <url-pattern>*.vm</url-pattern> -->
<!-- 	</servlet-mapping> -->
	
	<!-- SpringMVC dispatcher servlet -->
	<servlet>
		<servlet-name>springMvc</servlet-name>
		<servlet-class>com.mtoolkit.spring.SpringMvcDispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:spring/**/*.xml</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springMvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	
	<!-- Character encoding filter -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>


	<!-- Visit holder filter -->
	<filter>
		<filter-name>visitHolderFilter</filter-name>
		<filter-class>com.dssm.filter.VisitHolderFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>visitHolderFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	<!-- Shiro Security filter -->
	<!-- The filter-name matches name of a 'shiroFilter' bean inside spring applicationContext.xml -->
	<filter>
		<filter-name>shiroFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
	        <param-name>targetFilterLifecycle</param-name>
	        <param-value>true</param-value>
    	</init-param>
	</filter>
	<filter-mapping>
		<filter-name>shiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	
    
	<!-- SiteMesh filter -->
	<filter>
        <filter-name>sitemeshFilter</filter-name>
        <filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>sitemeshFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	
	
	<!-- Internet explorer restful http method support filter -->
	<filter>
	    <filter-name>hiddenHttpMethodFilter</filter-name>
	    <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>
	<filter-mapping>    
	    <filter-name>hiddenHttpMethodFilter</filter-name>
	    <servlet-name>springMvc</servlet-name>
	</filter-mapping>
	
	
	<!-- Session configuration -->
	<session-config>
		<session-timeout>20</session-timeout>
 	</session-config>
 	
 	
	<!-- Error page configuration -->
<!-- 	<error-page> -->
<!-- 		<error-code>403</error-code> -->
<!-- 		<location>/error/403</location> -->
<!-- 	</error-page> -->
	<error-page>
		<error-code>404</error-code>
		<location>/error/404</location>
	</error-page>
<!-- 	<error-page> -->
<!-- 		<error-code>500</error-code> -->
<!-- 		<location>/error/500</location> -->
<!-- 	</error-page> -->
<!-- 	<error-page> -->
<!-- 		<exception-type>java.lang.Throwable</exception-type> -->
<!-- 		<location>/error/500</location> -->
<!-- 	</error-page> -->
	
</web-app>