<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dssm.mapper.product.ProviderMapper">
	
	<resultMap id="BaseResultMap" type="Provider">
		<id column="id" property="id" jdbcType="SMALLINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="company_name" property="companyName" jdbcType="VARCHAR" />
		<result column="company_address" property="companyAddress" jdbcType="VARCHAR" />
		<result column="contact_name" property="contactName" jdbcType="VARCHAR" />
		<result column="contact_qq" property="contactQq" jdbcType="VARCHAR" />
		<result column="contact_tel" property="contactTel" jdbcType="VARCHAR" />
		<result column="contact_email" property="contactEmail" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<association property="updateAdmin" resultMap="com.dssm.mapper.security.AdminMapper.BaseResultMap" />
	</resultMap>
	
	<sql id="Base_Column_List">
		t.id, t.name, t.code, t.description, t.company_name, t.company_address, 
		t.contact_name, t.contact_qq, t.contact_tel, t.contact_email, t.update_aid, t.update_time
	</sql>
	
	<insert id="insert" parameterType="Provider">
		INSERT INTO ssm_product_provider (
			name, code, description, company_name, company_address, contact_name, 
			contact_qq, contact_tel, contact_email, update_aid, update_time
		) VALUES (
			#{name,jdbcType=VARCHAR},
			#{code,jdbcType=VARCHAR},
			#{description,jdbcType=VARCHAR},
			#{companyName,jdbcType=VARCHAR},
			#{companyAddress,jdbcType=VARCHAR},
			#{contactName,jdbcType=VARCHAR},
			#{contactQq,jdbcType=VARCHAR},
			#{contactTel,jdbcType=VARCHAR},
			#{contactEmail,jdbcType=VARCHAR},
			#{updateAdmin.id,jdbcType=SMALLINT},
			NOW()
		)
	</insert>
	
	<delete id="deleteById" parameterType="java.lang.Integer">
		DELETE FROM ssm_product_provider WHERE id = #{id,jdbcType=SMALLINT}
	</delete>
	
	<update id="updateSelective" parameterType="Provider">
		UPDATE ssm_product_provider 
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				company_name = #{companyName,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				company_address = #{companyAddress,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				contact_name = #{contactName,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				contact_qq = #{contactQq,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				contact_tel = #{contactTel,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				contact_email = #{contactEmail,jdbcType=VARCHAR},
			</if>
			update_aid = #{updateAdmin.id,jdbcType=SMALLINT},
			update_time = NOW() 
		</set>
		WHERE id = #{id,jdbcType=SMALLINT}
	</update>
	
	<select id="selectById" resultMap="BaseResultMap" parameterType="Integer">
		SELECT
			<include refid="Base_Column_List" />
		FROM ssm_product_provider t 
		WHERE t.id = #{id,jdbcType=SMALLINT}
	</select>
	
	<select id="selectByCode" resultMap="BaseResultMap" parameterType="String">
		SELECT 
			<include refid="Base_Column_List" />
		FROM ssm_product_provider t
		WHERE t.code = #{code,jdbcType=VARCHAR}
	</select>
	
	<select id="selectByPage" parameterType="Provider" resultMap="BaseResultMap">
		SELECT 
			<include refid="Base_Column_List" />, a.login_name 
		FROM ssm_product_provider t 
		LEFT JOIN ssm_admin a ON a.id = t.update_aid 
		<where>
			<if test="search.code != null and search.code != ''">
				t.code LIKE '%${search.code}%'
			</if>
			<if test="search.name != null and search.name != ''">
				AND t.name = #{search.name,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	
	<select id="selectAll" resultMap="BaseResultMap">
		SELECT 
			<include refid="Base_Column_List" />
		FROM ssm_product_provider t 
		ORDER BY t.id DESC
	</select>
	
</mapper>