<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dssm.mapper.security.AdminMapper">

	<resultMap id="BaseResultMap" type="Admin">
		<id column="id" property="id" jdbcType="SMALLINT" />
		
		<result column="login_name" property="loginName" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		
		<result column="real_name" property="realName" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="locked" property="locked" jdbcType="BOOLEAN" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		
		<result column="create_aid" property="createAid" jdbcType="SMALLINT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="last_login_ip" property="lastLoginIp" jdbcType="VARCHAR" />
		<result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
		
<!-- 		<association property="role" typeHandler="com.dssm.mapper.manage.RoleMapper.BaseResultMap" /> -->
	</resultMap>
	
	<sql id="Base_Column_List">
		id, login_name, password, real_name, email, mobile, locked, remark, create_aid, create_time, last_login_ip, last_login_time
	</sql>
	
	<insert id="insert" parameterType="Admin">
		INSERT INTO ssm_admin(
			login_name, password, real_name, email, mobile, locked, remark, create_aid, create_time
		) VALUES(
			#{loginName,jdbcType=VARCHAR},
			#{password,jdbcType=VARCHAR}, 
			#{realName,jdbcType=VARCHAR},
			#{email,jdbcType=VARCHAR}, 
			#{mobile,jdbcType=VARCHAR}, 
			FALSE,
			#{remark,jdbcType=VARCHAR},
			#{createAid,jdbcType=SMALLINT}, 
			NOW()
		)
	</insert>
	
	<delete id="deleteById" parameterType="java.lang.Integer">
		DELETE FROM ssm_admin WHERE id = #{id,jdbcType=SMALLINT}
	</delete>
	
	<update id="update" parameterType="Admin">
		UPDATE ssm_admin SET 
			password = #{password,jdbcType=VARCHAR},
			realName = #{realName,jdbcType=VARCHAR},
			email = #{email,jdbcType=VARCHAR},
			mobile = #{mobile,jdbcType=VARCHAR},
			locked = #{locked,jdbcType=BOOLEAN}, 
			remark = #{remark,jdbcType=VARCHAR},
			last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
			last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP}
		WHERE id = #{id,jdbcType=SMALLINT}
	</update>
	
	<update id="updateSelective" parameterType="Admin">
		UPDATE ssm_admin
		<set>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="realName != null">
				real_name = #{realName,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				mobile = #{mobile,jdbcType=VARCHAR},
			</if>
			<if test="locked != null">
				locked = #{locked,jdbcType=BOOLEAN}, 
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR}, 
			</if>
			<if test="lastLoginIp != null">
				last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
			</if>
			<if test="lastLoginTime != null">
				last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		WHERE id = #{id,jdbcType=SMALLINT}
	</update>
	
	<select id="selectById" resultMap="BaseResultMap" parameterType="Integer">
		SELECT
			<include refid="Base_Column_List" />
		FROM ssm_admin
		WHERE id = #{id,jdbcType=SMALLINT}
	</select>
	
	<select id="selectByLoginName" resultMap="BaseResultMap" parameterType="String">
		SELECT 
			<include refid="Base_Column_List" />
		FROM ssm_admin
		WHERE login_name = #{loginName,jdbcType=VARCHAR}
	</select>
	
	<select id="selectByPage" parameterType="Admin" resultMap="BaseResultMap">
		SELECT 
			<include refid="Base_Column_List" />
		FROM ssm_admin
		<where>
			<if test="search.realName != null and search.realName != ''">
				real_name LIKE '%${search.realName}%'
			</if>
			<if test="search.email != null and search.email != ''">
				AND email = #{search.email,jdbcType=VARCHAR}
			</if>
			<if test="search.mobile != null and search.mobile != ''">
				AND mobile = #{search.mobile,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	
	<select id="selectAll" resultMap="BaseResultMap">
		SELECT 
			<include refid="Base_Column_List" />
		FROM ssm_admin
		ORDER BY id DESC
	</select>
	
</mapper>