<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dssm.mapper.security.RoleMapper">

	<resultMap id="BaseResultMap" type="Role">
		<id column="id" property="id" jdbcType="SMALLINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id, name, code, description
	</sql>
	
	<insert id="insert" parameterType="Role">
		INSERT INTO ssm_role (
			name, code, description
		) VALUES (
			#{name,jdbcType=VARCHAR},
			#{code,jdbcType=VARCHAR},
			#{description,jdbcType=VARCHAR}
		)
	</insert>
	
	<delete id="delete" parameterType="java.lang.Integer">
		DELETE FROM ssm_role WHERE id = #{id,jdbcType=SMALLINT}
	</delete>
	
	<update id="update" parameterType="Role">
		UPDATE ssm_role SET 
			name = #{name,jdbcType=VARCHAR},
			description = #{description,jdbcType=VARCHAR}
		WHERE id = #{id,jdbcType=SMALLINT}
	</update>
	
	<update id="updateSelective" parameterType="Role">
		UPDATE ssm_role 
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE id = #{id,jdbcType=SMALLINT}
	</update>
	
	<select id="selectById" resultMap="BaseResultMap" parameterType="Integer">
		SELECT
			<include refid="Base_Column_List" />
		FROM ssm_role
		WHERE id = #{id,jdbcType=SMALLINT}
	</select>
	
	<select id="selectByCode" resultMap="BaseResultMap" parameterType="String">
		SELECT 
			<include refid="Base_Column_List" />
		FROM ssm_role
		WHERE code = #{code,jdbcType=VARCHAR}
	</select>
	
	<select id="selectByPage" parameterType="Role" resultMap="BaseResultMap">
		SELECT 
			<include refid="Base_Column_List" />
		FROM ssm_role
		<where>
			<if test="search.code != null and search.code != ''">
				code LIKE '%${search.code}%'
			</if>
			<if test="search.name != null and search.name != ''">
				AND name = #{search.name,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	
	<select id="selectAll">
		SELECT 
			r.id, r.name, r.code, r.description, 
		FROM ssm_role r 
		<if test="roleId != null and roleId > 0">
			INNER JOIN ssm_relate_admin_role ar ON ar.role_id = r.id
			AND ar.admin_id = #{adminId,jdbcType=SMALLINT}
		</if>
		ORDER BY r.id DESC
	</select>
	
</mapper>