<div class="footer">
	footer
</div>

<script type="text/javascript" src="$base/scripts/main.js"></script>
<script type="text/javascript" src="$base/scripts/util.js"></script>

<!-- <script type="text/javascript" src="$base/scripts/bootstrap/bootstrap.js"></script>   -->
<!-- <script type="text/javascript" src="$base/plugins/touch-punch/jquery.ui.touch-punch.min.js"></script> -->
<!-- <script type="text/javascript" src="$base/plugins/ios-fix/ios-orientationchange-fix.js"></script> -->
<!-- <script type="text/javascript" src="$base/plugins/validate/jquery.validate.min.js"></script> -->
<!-- <script type="text/javascript" src="$base/plugins/uniform/jquery.uniform.min.js"></script> -->
