<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mjee.mapper.manage.AdminMapper">

	<resultMap id="BaseResultMap" type="com.mjee.domain.manage.Admin">
		<id column="id" property="id" jdbcType="INTEGER" />
		
		<result column="role_id" property="roleId" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="last_login_ip" property="lastLoginIp" jdbcType="VARCHAR" />
		<result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id, role_id, name, password, email, phone, create_time, last_login_ip, last_login_time
	</sql>
	
	<select id="select" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from mj_admin
		where id = #{id,jdbcType=INTEGER}
	</select>
	
	<delete id="delete" parameterType="java.lang.Integer">
		delete from mj_admin
		where id = #{id,jdbcType=INTEGER}
	</delete>
	
	<insert id="insert" parameterType="com.mjee.domain.manage.Admin">
		insert into mj_admin 
		(id, role_id, name, password, email, phone, create_time)
		values 
		(
			#{id,jdbcType=INTEGER}, 
			#{roleId,jdbcType=INTEGER},
			#{name,jdbcType=VARCHAR},
			#{password,jdbcType=VARCHAR}, 
			#{email,jdbcType=VARCHAR}, 
			#{phone,jdbcType=VARCHAR}, 
			#{createTime,jdbcType=TIMESTAMP}
		)
	</insert>
	
	<update id="update" parameterType="com.mjee.domain.manage.Admin">
		update mj_admin set 
		role_id = #{roleId,jdbcType=INTEGER},
		name = #{name,jdbcType=VARCHAR},
		password = #{password,jdbcType=VARCHAR},
		email = #{email,jdbcType=VARCHAR},
		phone = #{phone,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=DATETIME},
		last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
		last_login_time = #{lastLoginTime,jdbcType=DATETIME}
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<update id="updateSelective" parameterType="com.mjee.domain.manage.Admin">
		update mj_admin
		<set>
			<if test="roleId != null">
				role_id = #{roleId,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="lastLoginIp != null">
				last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
			</if>
			<if test="lastLoginTime != null">
				last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	
</mapper>