<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mjee.app.mapper.ProductMapper">
	
	<resultMap id="BaseResultMap" type="com.mjee.app.domain.Product">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="TEXT" />
		<result column="visit_number" property="visitNumber" jdbcType="INTEGER" />
		<result column="comment_number" property="commentNumber" jdbcType="INTEGER" />
		<result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
		<result column="add_admin_id" property="addAdmin.id" jdbcType="INTEGER" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="update_admin_id" property="updateAdmin.id" jdbcType="INTEGER" />
	</resultMap>
	
	<resultMap id="ResultMapWithBLOBs" type="com.mjee.app.domain.Article" extends="BaseResultMap">
		<result column="content" property="content" jdbcType="LONGVARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id, category_id, admin_id, headline, summary, visit_number,
		comment_number, publish_time, update_time
	</sql>
	
	<sql id="Blob_Column_List">
		content
	</sql>
	
	<select id="select" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from mj_article
		where id = #{id,jdbcType=INTEGER}
	</select>
	
	<delete id="delete" parameterType="java.lang.Integer">
		delete from mj_article
		where id = #{id,jdbcType=INTEGER}
	</delete>
	
	<insert id="insert" parameterType="com.mjee.app.domain.Article">
		insert into mj_article 
		(
			id, category_id, admin_id, headline, summary, visit_number,
			comment_number, publish_time, update_time, content
		)
		values 
		(
			#{id,jdbcType=INTEGER}, 
			#{categoryId,jdbcType=INTEGER},
			#{adminId,jdbcType=INTEGER},
			#{headline,jdbcType=VARCHAR}, 
			#{summary,jdbcType=VARCHAR}, 
			#{visitNumber,jdbcType=INTEGER},
			#{commentNumber,jdbcType=INTEGER}, 
			#{publishTime,jdbcType=TIMESTAMP},
			#{updateTime,jdbcType=TIMESTAMP},
			#{content,jdbcType=LONGVARCHAR}
		)
	</insert>
	
	<update id="update" parameterType="com.mjee.app.domain.Article">
		update mj_article set 
		category_id = #{categoryId,jdbcType=INTEGER},
		admin_id = #{adminId,jdbcType=INTEGER},
		headline = #{headline,jdbcType=VARCHAR},
		summary = #{summary,jdbcType=VARCHAR},
		visit_number = #{visitNumber,jdbcType=INTEGER},
		comment_number = #{commentNumber,jdbcType=INTEGER},
		publish_time = #{publishTime,jdbcType=TIMESTAMP},
		update_time = #{updateTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<update id="updateWithBlobs" parameterType="com.mjee.app.domain.Article">
		update mj_article set 
		category_id = #{categoryId,jdbcType=INTEGER},
		admin_id = #{adminId,jdbcType=INTEGER},
		headline = #{headline,jdbcType=VARCHAR},
		summary = #{summary,jdbcType=VARCHAR},
		visit_number = #{visitNumber,jdbcType=INTEGER},
		comment_number = #{commentNumber,jdbcType=INTEGER},
		publish_time = #{publishTime,jdbcType=TIMESTAMP},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		content = #{content,jdbcType=LONGVARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<update id="updateSelective" parameterType="com.mjee.app.domain.Article">
		update mj_article
		<set>
			<if test="categoryId != null">
				category_id = #{categoryId,jdbcType=INTEGER},
			</if>
			<if test="adminId != null">
				admin_id = #{adminId,jdbcType=INTEGER},
			</if>
			<if test="headline != null">
				headline = #{headline,jdbcType=VARCHAR},
			</if>
			<if test="summary != null">
				summary = #{summary,jdbcType=VARCHAR},
			</if>
			<if test="visitNumber != null">
				visit_number = #{visitNumber,jdbcType=INTEGER},
			</if>
			<if test="commentNumber != null">
				comment_number = #{commentNumber,jdbcType=INTEGER},
			</if>
			<if test="publishTime != null">
				publish_time = #{publishTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	
</mapper>