<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dssm.mapper.website.ProductCommentMapper">
	
	<resultMap id="BaseResultMap" type="com.dssm.domain.website.ProductComment">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="article_id" property="articleId" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="headline" property="headline" jdbcType="VARCHAR" />
		<result column="comment_time" property="commentTime" jdbcType="TIMESTAMP" />
		<result column="deleted" property="deleted" jdbcType="BIT" />
	</resultMap>
	
	<resultMap id="ResultMapWithBLOBs" type="com.dssm.domain.website.ProductComment" extends="BaseResultMap">
		<result column="content" property="content" jdbcType="LONGVARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id, article_id, user_id, headline, comment_time, deleted
	</sql>
	
	<sql id="Blob_Column_List">
		content
	</sql>
	
	<select id="select" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from mj_article_comment
		where id = #{id,jdbcType=INTEGER}
	</select>
	
	<delete id="delete" parameterType="java.lang.Integer">
		delete from mj_article_comment
		where id = #{id,jdbcType=INTEGER}
	</delete>
	
	<insert id="insert" parameterType="com.dssm.domain.website.ProductComment">
		insert into mj_article_comment 
		(id, article_id, user_id, headline, comment_time, deleted, content)
		values 
		(
			#{id,jdbcType=INTEGER}, 
			#{articleId,jdbcType=INTEGER},
			#{userId,jdbcType=INTEGER},
			#{headline,jdbcType=VARCHAR}, 
			#{commentTime,jdbcType=TIMESTAMP}, 
			#{deleted,jdbcType=BIT},
			#{content,jdbcType=LONGVARCHAR}
		)
	</insert>
	
	<update id="update" parameterType="com.dssm.domain.website.ProductComment">
		update mj_article_comment set 
		article_id = #{articleId,jdbcType=INTEGER},
		user_id = #{userId,jdbcType=INTEGER},
		headline = #{headline,jdbcType=VARCHAR},
		comment_time = #{commentTime,jdbcType=TIMESTAMP},
		deleted = #{deleted,jdbcType=BIT}
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<update id="updateWithBlobs" parameterType="com.dssm.domain.website.ProductComment">
		update mj_article_comment
		set article_id = #{articleId,jdbcType=INTEGER},
		user_id = #{userId,jdbcType=INTEGER},
		headline = #{headline,jdbcType=VARCHAR},
		comment_time = #{commentTime,jdbcType=TIMESTAMP},
		deleted = #{deleted,jdbcType=BIT},
		content = #{content,jdbcType=LONGVARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<update id="updateSelective" parameterType="com.dssm.domain.website.ProductComment">
		update mj_article_comment
		<set>
			<if test="articleId != null">
				article_id = #{articleId,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="headline != null">
				headline = #{headline,jdbcType=VARCHAR},
			</if>
			<if test="commentTime != null">
				comment_time = #{commentTime,jdbcType=TIMESTAMP},
			</if>
			<if test="deleted != null">
				deleted = #{deleted,jdbcType=BIT},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	
</mapper>