<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mjee.app.mapper.RegionMapper">

	<resultMap id="BaseResultMap" type="com.mjee.app.domain.Region">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="level" property="level" jdbcType="TINYINT" />
		<result column="parent_id" property="parent.id" jdbcType="INT" />
	</resultMap>

	<sql id="Base_Column_List">
		id, name, level, parent_id
	</sql>
	
	<select id="select" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from mj_role
		where id = #{id,jdbcType=INTEGER}
	</select>
	
	<delete id="delete" parameterType="java.lang.Integer">
		delete from mj_role
		where id = #{id,jdbcType=INTEGER}
	</delete>
	
	<insert id="insert" parameterType="com.mjee.app.domain.Role">
		insert into mj_role 
		(id, name, description)
		values 
		(
			#{id,jdbcType=INTEGER}, 
			#{name,jdbcType=VARCHAR},
			#{description,jdbcType=VARCHAR}
		)
	</insert>
	
	<update id="update" parameterType="com.mjee.app.domain.Role">
		update mj_role set 
		name = #{name,jdbcType=VARCHAR},
		description = #{description,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<update id="updateSelective" parameterType="com.mjee.app.domain.Role">
		update mj_role
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	
</mapper>