<?xml version="1.0" encoding="GBK"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:webflow="http://www.springframework.org/schema/webflow-config"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/util	        http://www.springframework.org/schema/util/spring-util-3.0.xsd
         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
         http://www.springframework.org/schema/webflow-config http://www.springframework.org/schema/webflow-config/spring-webflow-config-2.0.xsd
         http://cxf.apache.org/jaxws  http://cxf.apache.org/schemas/jaxws.xsd">

	<bean id="systemPropertyLoader" class="com.dssm.loader.SystemPropertyLoader" />
	<bean id="systemPropertyConfigurer" class="com.mtoolkit.spring.config.PropertyConfigurerAdapter">
		<property name="propertyLoader" ref="systemPropertyLoader" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="order" value="1" />
		<property name="location">
			<value>classpath:system.properties</value>
		</property>
	</bean>

	<bean id="configPropertyLoader" class="com.dssm.loader.ConfigPropertyLoader" />
	<bean id="configPropertyConfigurer" class="com.mtoolkit.spring.config.PropertyConfigurerAdapter">
		<property name="propertyLoader" ref="configPropertyLoader" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="ignoreResourceNotFound" value="true" />
		<property name="order" value="2" />
		<property name="locations">
			<list>
				<value>classpath:config.properties</value>
				<value>file:${config}/config.properties</value>
			</list>
		</property>
	</bean>

</beans>
