#set ($ctx = $request.contextPath)

#foreach ($admin in $adminList)
	$!{admin.realName}， $!{admin.email}， $!{admin.mobile} | 
	<a href="$ctx/admin/${admin.id}" title="查看">查看</a> | 
	<a href="$ctx/admin/${admin.id}/edit" title="编辑">编辑</a> | 
	<a href="$ctx/admin/${admin.id}" title="删除" onclick="return doDelete(this);">删除</a> <br />
#end

#page()